.footer {
   width: 100%;
   text-align: left;
   padding: 20px 20px;
   position: fixed;
   bottom: 0;
   p {
      font-size: 10px;
      letter-spacing: 0.03em;
      font-weight: 400;
      color: #646464;
   }
}
