.header {
   position: fixed;
   top: 40px;
   left: 40px;
   .ma {
      text-decoration: none !important;
   .icon {
     font-size: 17px;
     font-weight: 400;
     letter-spacing: 0.03em;
     color: #3a3a3a;
     text-decoration: none !important;
   }
   }
}
